.navbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: #161513;
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 12vh;
  align-items: end;
  padding-bottom: 5px;
}

.logo {
  width: 5em;
  height: auto;
  margin-left: 8rem;
  align-items: end;
}

.nav-menu {
  display: flex;
  list-style: none;
  gap: 8rem;
  font-size: 2rem;
}

.anchor-link{
  text-decoration: none;
  color: white;
}

.anchor-link:hover {
  background: #9796f0;
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);
  background: linear-gradient(to right, #fbc7d4, #9796f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.anchor-link:active {

}

.resume {
  margin-right: 7rem;
  color: white;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
  padding: 20px;
  background: #de6161;
  background: -webkit-linear-gradient(to right, #2657eb, #de6161);
  background: linear-gradient(to right, #2657eb, #de6161);
  cursor: pointer;
}

.bxs-download {
  padding-left: 5px;
  font-size: 2rem;
}

.resume:hover {
  transform: scale(1.05);
  transition: 0.2s;
  border: 3px solid indianred;
}




